
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
.head-wrapper {
  background-color: #0d325a;
  color: #FFF;
  font-family: 'Baloo Bhai 2', cursive;
}
.head-wrapper .centratore {
  position: relative;
  width: 65%;
  margin: auto;
  height: 470px;
  padding-top: 1%;
}
/* FINE REGOLE GENERALI */

/* HEADER */
.head-wrapper .centratore .menu-wrapper {
  position: absolute;
  float: left;
  padding-left: 1%;
}
.head-wrapper .centratore .menu-wrapper .logo {
  display: inline-block;
}
.head-wrapper .centratore .menu-wrapper .logo img{
  align: left;
  width: 100px;
}
.head-wrapper .centratore .menu-wrapper .menu {
  font-size: 12px;
  padding-left: 24px;
  display: inline;
  list-style-type: none;
}
.head-wrapper .centratore .menu-wrapper .menu li {
  display: inline;
  position: relative;
  top: -7px;
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: bold;
}
.head-wrapper .centratore .login {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 43px;
  text-align: right;
}
.head-wrapper .centratore .login > span {
  margin-left: 8px;
}
.head-wrapper .centratore .login .accesso{
  border: solid 1px #4783ad;
  border-radius: 5px;
  padding: 6px 15px;
}
.head-wrapper .centratore .login .cta {
  border-radius: 5px;
  padding: 6px 15px;
  background-color: #7fb802;
}
.head-wrapper .centratore .menu-wrapper::after{
  content: ""
  display: table;
  clear: both;
}
.head-wrapper .centratore .img-sfondo {
  position: absolute;
  bottom: 0px;
  right: -300px;
  width: 80%;
}

/* FINE HEADER */

.head-wrapper .centratore .testo-immagine {
  width: 550px;
  position: absolute;
  bottom: 20%;
}

.head-wrapper .centratore .testo-immagine .text {
  font-weight: bold;
  font-size: 43px;
}
.head-wrapper .centratore .testo-immagine .link-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  width: 180px;
  padding: 12px 10px;
  background-color: #7fb802;
}
