
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
.testata, .corpo {
  font-family: 'Baloo Bhai 2', cursive;
  color: #9c9c9c;
}
.testata {
  background-color: #0d325a;
  color: #FFF;
}
.centratore {
  width: 65%;
  margin: auto;
}
.titolo, .grassetto {
  font-weight: bold;
}
/* FINE REGOLE GENERALI */
/* HELP contact */
.help {
  position: fixed;
  bottom: 0px;
  right: 10%;
  height: 30px;
  padding: 5px;
  padding-bottom: 30px;
  border-radius: 9% 9% 0 0;
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #7fb802;
}
/* HEADER */
.menu, .login {
  font-size: 12px;
}
.testata .centratore.uno {
  position: relative;
  height: 470px;
  padding-top: 1%;
}
.testata .centratore.uno .menu {
  position: absolute;
  float: left;
  padding-left: 2%;
}
.testata .centratore.uno .menu::after{
  content: ""
  display: table;
  clear: both;
}
.testata .centratore.uno .menu .logo {
  align: left;
  width: 100px;
  display: inline-block;
}
.testata .centratore.uno .menu .lista-menu {
  padding-left: 24px;
  display: inline;
  list-style-type: none;
}
.testata .centratore.uno .menu .lista-menu li {
  display: inline;
  position: relative;
  top: -7px;
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: bold;
}
.testata .centratore.uno .login {
  text-transform: uppercase;
  line-height: 43px;
  text-align: right;
}
.testata .centratore.uno .login > span {
  margin-left: 8px;
  border-radius: 5px;
  font-weight: bold;
}
.testata .centratore.uno .login .button{
  border: solid 1px #4783ad;
  padding: 6px 15px;
}
.testata .centratore.uno .login .cta {
  padding: 6px 15px;
  background-color: #7fb802;
}
.testata .centratore.uno .scegli {
  width: 550px;
  position: absolute;
  bottom: 20%;
}
.testata .centratore.uno .scegli .text {
  font-weight: bold;
  font-size: 43px;
}
.testata .centratore.uno .scegli .cta {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  width: 180px;
  padding: 12px 10px;
  background-color: #7fb802;
}
.testata .centratore.uno .img-sfondo {
  position: absolute;
  bottom: 0px;
  right: -300px;
  width: 75%;
}
/* FINE HEADER */
/* CORPO */
/* strip oriziontale */

/* CORPO */
/* strip orizontale */
.strip {
  text-align: center;
  background-color: #f9f9f9;
  font-size: 22px;
  padding: 40px;
}
.strip .grassetto {
  color: #553a3c;
}


/* secondo blocco centrato */
.corpo .centratore.due > div {
  float: left;
  width: 30%;
  text-align: center;
  color: #9c9c9c;
}
.corpo .centratore.due .tutor {
  margin: 0px 5%;
}
.corpo .centratore.due .titolo {
  height: 55px;
  color: #7fb802;
  font-size: 20px;
}
.corpo .centratore.due hr {
  width: 10%;
  margin: 20px auto;
  border: solid #d8d8d8 1px;
}
.corpo .centratore.due .img {
  height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.corpo .centratore.due::after {
  content: "";
  display: table;
  clear: both;
}

/* divisore */
.corpo .divisore {
  width: 98%;
  margin: 70px auto;
  border-top: 1px;
  color: #e5e5e5;
}

/* terzo blocco centrato */
.corpo .centratore.tre{
  position: relative;
  text-align: center;
}
.corpo .centratore.tre .img-livello {
  float: left;
  height: 350px;
  margin-left: 50px;
}
.corpo .centratore.tre .livello {
  position: absolute;
  top: 80px;
  right: 100px;
  width: 30%;
  text-align: left;
}
.corpo .centratore.tre .livello .titolo {
  margin-bottom: 30px;
  color: #4a4a4a;
  font-size: 25px;
}
.corpo .centratore.tre .livello a{
  color: #9bc8f8;
}
/* FINE CORPO */
